@font-face{
	src: url("fonts/bold.ttf");
	font-family:bold;
}
*{
	margin:0;
	padding:0;
}
body{
	background-color:#7b5e40;
	
}
  /* logo start   */
.page_header{
	margin:40px 0px 40px 40px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.travel{
	display:flex;
	align-items:flex-end;
}
.logo_text{
	color:white;
font-family:bold;
}
#travel{
	text-decoration:none;
	color:white;
	
	}
.logo_img{
	height:75px;
}
.navbar{
	color:#7b5e40;
  background-color:white;
	margin:20px;
	margin-right:0;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	padding: 0 40px 0 0;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
a{
 text-decoration:none;
 color:#7B5D3E;
}
.navbar ol li{
	list-style-type:none;
	display:inline;
	margin:20px 10px;
	/* background-color:#7b5e40; */
}
.navbar ol li a:hover{
	color:#FEAF4E;
	border-bottom:2px solid #7b5e40;
}
/* start main body */
#flex_box{
	margin:-25px 40px 0 40px;
	display:flex;
}
.travelling_girl{
	border-radius:50%;
	height:400px;
	width:400px;
	margin-left:0px;
	margin-top:-50px;
	border:15px solid #FE903E;
}
.text_section{
	width:350px;
	margin-left:37px;
}

.about_travelling{
	font-size:66px;
	text-align: center;
	color:#FDB04E;
	line-height: 74px;
}
.info_about_travel{
	font-family:bold;
}
.info_about_travel a:hover{
	color:white;
}
.paragraph{info_about_travel
	font-size:14px;
	text-align: justify;
	color:#C9BEB5;
	text-align:center;
}
.photo_section{
	display:flex;
}
.circle{
	width:130px;
	height:130px;
	border-radius:50%; 
	font-size:11px;
	text-align:center;
  background-color:#FEB04E;
  margin-top:240px;
  margin-left:-128px;
  color:#7B5D40;
}

.content{
	padding:22px;
	padding-top:35px;
	padding-left:25px;
}
.sub_button{
	border:2px solid white;
	padding:10px;
	border-radius:17px;
	background-color:transparent;
	color:white;
	width:120px;
	margin-top:20px;
}
.sub_button:hover{
	background-color:white;
	border:2px solid #7F6347;
	color:#7F6347;
}
.email{
	border:2px solid white;
	padding:10px;
	border-radius:17px;
	background-color:white;
	color:#7F6347;
	width:220px;
	margin-top:20px;
	text-align:center;
	margin-left:5px;
}
.agency_website{
	text-decoration:none;
	color:white;
}

.image_height{
	height:40px;
}
.social_link{
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	margin-top:40px;
	
}
.social_icon{
	margin-top:10px;
}
#about{
	background-color:white;
}
.hight{
	width:70px;
	height:100px;
	display:flex;
}
	.plane{
		display:flex;
		align-items:flex-end;
}
